@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@600;700;800&display=swap");
@import "tailwindcss";

@layer theme {
  :root {
    --background: #f9fafb;
    /* PRIMARY */
    --primary: #ff3150;
    --secondary: #c4d0dc;
    --light-secondary: #e8ecf2;
    --dark-grey: #394c60;
    --black: #090d10;
    --white: #ffffff;

    --font-body: "Inter", sans-serif;
    --font-title: "Montserrat", sans-serif;
  }
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    margin: 0;
    overflow-x: hidden;
  }

  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--dark-grey);
  }

  .secondary2 {
    color: var(--light-secondary);
  }

  .black {
    color: var(--black);
  }
  .white {
    color: var(--white);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .light-secondary {
    background-color: var(--light-secondary);
  }

  .grey-outline {
    border: solid 2px var(--secondary);
  }

  .btn-primary {
    font-weight: 500;
    background-color: var(--primary);
    color: white;
    font: var(--font-body);
  }

  .font-title {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 45px;
  }

  .font-subtitle {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 40px;
  }

  .font-subtitle2 {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 20px;
  }

  .font-desc {
    font-family: var(--font-body);
    font-size: 16px;
  }

  
}

@layer base {
  .prose ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }

  .prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  .prose li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .prose a {
    color: var(--primary); 
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .prose a:hover {
    opacity: 0.8;
  }
}
